.product-grid-wrapper {
  margin: 1.7rem 0;
}
.grid-boxes {
  display: flex;
}
.sort,
.show {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-right: 1rem;
}
.sort select,
.show select {
  font-size: 0.8rem;
  outline: none;
  border: none;
  border: 1px solid gray;
}
.products-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 1.7rem;
  margin: 1rem 0;
}
/* error  */
.error-msg {
  color: red;
  font-size: 1.2rem;
  margin: 4rem;
}
/* loader  */
.loader {
  width: fit-content;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: linear-gradient(90deg, #0000 33%, #000 0 67%, #0000 0) 0/300% 100%
    no-repeat text;
  animation: l2 2s linear infinite;
  margin: auto;
  font-size: 2.7rem;
  margin-top: 6rem;
}
.loader:before {
  content: "Loading";
}
@keyframes l2 {
  0% {
    background-position: 100%;
  }
}

/* pagination  */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1.1rem;
  gap: 0.2rem;
}
.pagination button {
  padding: 0.2rem 0.8rem;
  border: 1px solid gray;
  color: gray;
  background-color: white;
  cursor: pointer;
}
.pagination button:hover{
  color: white;
  background-color: red;
  border: 1px solid red;
}
.pagination button.active {
  font-weight: bold;
  color: white;
  background-color: black;
}
.pagination button:disabled{
  cursor: not-allowed;
  color: #ccc;
  border: 1px solid #ccc;
}